.commentAdd {
  display: flex;
  align-items: center;
  gap: 20px;
}

.commentList {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.commetListUpdate {
  display: flex;
  width: 100%;
  gap: 10px;
}